/*@import url('../font/Purista_Bold.otf');*/

@font-face {
  font-family: "Purista_Bold";
  src: url("../font/Purista\ Bold.otf");
}

*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


body {
  background-image: url('../img/textureArga.png');
  background-repeat: repeat;
}


/*==================================INICIO DEL HEADER=============================*/

.main-head {
  overflow: hidden;
  display: block;
  background-color: #43A6DF;
  /*padding: 10px 20px;*/
  /*padding-bottom: 3px;*/
}

.header {
  overflow: hidden;
  background-color: #43A6DF;
  padding: 10px 20px;
  text-align: left;
  float: left;
    
}
  
/*Style the header links*/
.header a {
  float: left;
  color: black;
  text-align: left;
  padding: 5px;
  text-decoration: none;
  font-size: 25px;
  line-height: 25px;
  border-radius: 4px;
  font-family: 'Purista_Bold', sans-serif;
  
}


.bg-bread {
  background-color: #fff !important;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a .img {
  font-size: 25px;
  font-weight: bold;
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: #43A6DF;
  color: black;
}

/* Style the active/current link*/
.header-right a.active {
  background-color: #F8B853;
  color: white;
  background-size: 100%;
}

/* Float the link section to the right */
.header-right {
  background-image: url('../img/WhiteLabel.png');
  background-repeat: no-repeat;
  background-size: 1000px;
  overflow: hidden;
  /*background-color: #FFF;*/
  padding: 0px 90px;
  text-align: left;
  float: right;
  
      
}
.header-right .whiteFond {
  position: absolute;
  display: flex;
  justify-content: right;
  width: 1400px;
  height: 100%;
  top: 0;
  margin-left: 26.4%;
}

.header-right a {
  float: left;
  color: #43A6DF;
  text-align: left;
  text-decoration: none;
  padding: 35px 10px;
  font-size: 18px;
  font-family: 'Purista_Bold', sans-serif;
}

.header-right a:hover{
  background-color: #F8B853;
  color: white;
}

/*===========================NAVBAR BOOTSTRAP===========================================*/

.my-bgOne {
  background-color: #43A6DF !important;
  
}

.my-bgTwo {
  background-color: #fff !important;
  /*background-image: url('../img/WhiteLabel.png');*/
  background-repeat: no-repeat;
  background-position: left;
  background-size: 100%;
}

.my-bgTwo li a {
  padding: 35px 10px;
  text-decoration: none;
  color: #43A6DF;
  text-transform: uppercase;
  font-family: 'Purista_Bold', sans-serif;
  font-size: 1.19rem;
}

.my-bgTwo li a:hover {
  background-color: #F8B853 !important;
  color: #fff;
}

.imgLogo {
  padding: 10px 15px;
}

.row-bgNav {
  background-color: #43A6DF !important;
}

.my-bgContent {
  /*background: #43A6DF !important;*/
  background-image: url('../img/BgContent.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}


.nav-item a.active {
  background-color: #F8B853;
  color: white;
  background-size: 100%;
}

/*======================== FIN NAVBAR BOOTSTRAP =============================================*/



/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 920px) {

  .my-bgContent {

  }
 
  .logoC img {
    width: 140px;
    height: 130px;
    /*padding-left: 20px;*/
  }

  .preS1 h5 {
    font-size: 0.65rem;
  }

  .preS1 p {
    font-size: 0.50rem;
  }

  .preS1-left h5 {
    font-size: 0.65rem;
  }

  .preS1-left p {
    font-size: 0.50rem;
  }

}


@media screen and (min-width: 769px) {
 
  .logoC img {
    width: 120px;
    height: 120px;
    /*padding-left: 20px;*/

  }
  .preS1 h5 {
    font-size: .83rem;
  }

  .preS1 p {
    font-size: .20rem;
  }
}

@media screen and (max-width: 768px) {
  /*
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
  */

  .logoC img {
    width: 98px;
    height: 100px;
    /*padding-left: 20px;*/
  }

  .preS1 h5 {
    font-size: 1.25rem;
  }

  .preS1 p {
    font-size: 1rem;
  }

  .preS1-left h5{
    text-align: right;
  }

  .preS1-left p{
    text-align: right;
  }


}

@media screen and (max-width: 620px) {
 
  .logoC img {
    width: 65px;
    height: 78px;
    padding-left: 20px;
  }
  
}
/*
@media screen and (max-width: 575px) {
 
  .my-bgContent {
    /*background: #43A6DF !important;*/
   /* background-image: url('');
    background-repeat: no-repeat;
    background-position: left;
    background-size: 100%;
  }
}
*/




@media screen and (max-width: 360px) {
 
  .logoC img {
    width: 85px;
    height: 78px;
    
  }
}
/*==================================FIN DEL HEADER=============================*/

/*BOOTSTRAP*/
.bg-colored {
  background-color: #43A6DF;
}

.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size:cover;
  background-size: cover;
}

.carousel-caption{
  bottom: 270px;
}

.carousel-indicators{
  top: 20px;
  
}
.carousel-caption h5 {
  font-size: 45px;
  text-transform: uppercase;
  font-family: 'Purista_Bold', sans-serif;
  letter-spacing: 2px;
  margin-top: 25px;

}

.carousel-caption p{
  width: 75%;
  margin: auto;
  font-size: 18px;
  font-family: 'Purista_Bold', sans-serif;
  line-height: 1.9;
}

.wrapper {
  overflow: hidden;
}

.row-slider {
  position: relative;
  overflow: hidden;
}

/*============================== REVESTIMIENTO AL SLIDE ============================================*/

.slide-bg {
  background-color: #000;
}

.carousel-control-next {
  z-index: 2;
}

.slide-caption h2 {
  color: #FFF;
  font-family: 'Purista_Bold', sans-serif;
  font-size: 24px;
  text-transform: uppercase;
}

.slide-caption p {
  color: #FFF;
  font-family: 'Purista_Bold', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
}


/*============================= FIN ==============================================================*/




/*==================================CONTENIDO UNO=============================================*/
.fontCurse h5{
  color: #FFF;
  font-family: 'Purista_Bold', sans-serif;
  font-size: 24px;
  text-transform: uppercase;

}

.fontCurse p{
  color: #FFF;
  font-family: 'Purista_Bold', sans-serif;
  font-size: 18px;

}

.justyOneLetter {
  text-align: center;
}

/*=======================================================================================*/

/*====================================CONTENIDO DOS========================================================*/



.imgLogoCenter {
  text-align: center;
}

.justyOneLetter h5 {
  font-size: 24px;
  font-family: 'Purista_Bold', sans-serif;
  color: #FFF;
  text-transform: uppercase;
}

.justyOneLetter p {
  font-size: 18px;
  font-family: 'Purista_Bold', sans-serif;
  color: #FFF;
  text-align: center;

}

/*=======================================================================================*/

/*===================================CONTENIDO TRES========================================*/

.my-bgTres {
  background-image: url('../img/textureArgablanca.png');

}

.my-bgTres h5{
  font-size: 24px;
  font-family: 'Purista_Bold', sans-serif;
  color: #006393;
  text-transform: uppercase;
}

.my-bgTres p{
  font-size: 18px;
  font-family: 'Purista_Bold', sans-serif;
  color: #03283D;
  text-align: left;
}

/*=======================================================================================*/

/*==================================CONTENIDO CUATRO=====================================*/

.my-bgCuatro {
  background-color: #13567D;

}

.my-bgCuatroDe {
  background-color: #30749B;
}

/*=======================================================================================*/

/*==================================CONTENIDO CINCO=====================================*/

.my-bgCinco li a {
  /*padding: 35px 10px;*/
  text-decoration: none;
  color: #43A6DF;
  text-transform: uppercase;
  font-family: 'Purista_Bold', sans-serif;
  font-size: 1.25rem;
}

.my-bgCinco li a:hover {
  background-color: #F8B853 !important;
  color: #fff;
}


.my-bgCincoIz {
  background-color: #FFF;
}

.my-bgCincoDe {
  background-color: #30749B;
}

.my-bgCincoDe h5 {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Purista_Bold', sans-serif;
  font-size: 1.25rem;
  text-align: center;
}

/*=======================================================================================*/

/*==================================FOOTER=====================================*/
.my-bgSeis {
  background-color: #03283D;
}

.my-bgSeis p {
  font-size: 14px;
  color: #FFF;
  margin: 10px 0;
  text-align: center;
  font-weight: bold;

}

.container-fluid {
  height: 100%;
}

/*=======================================================================================*/


/*=============================================================MOBILE FIRST=====================================================================*/


/*======================================1240PX=================================================*/
@media screen and (max-width: 1240px){
  
  .my-bgTwo {
    background-color: #fff !important;
  }

  .header {
    padding: 20px;
    float: none;
    padding: 10px 90px;
    text-align: center;
  }

  .header a{
    float: none;
    text-align: center;
  }
    
  
  /* Change the background color on mouse-over */
.header a:hover {
  background-color: #43A6DF;
  color: black;
}

/* Style the active/current link*/
.header-right a.active {
  background-color: #F8B853;
  color: white;
  background-size: 100%;
}

/* Float the link section to the right */
.header-right {
  position: relative;
  background-color: #FFF;
  background-size: 1000px;
  padding: 0px 115px;
  text-align: left;
  float: left;
  touch-action: pan-y;
  content: inherit;
  
      
}

.header-right a {
  float: left;
  color: #43A6DF;
  text-align: center;
  text-decoration: none;
  padding: 35px 14px;
  margin: 0px 5px;
  font-size: 18px;
  font-family: 'Purista_Bold', sans-serif;
}

.header-right a:hover{
  background-color: #F8B853;
  color: white;
}

.wrapper {
  overflow: hidden;
}

.row-slider {
  position: relative;
  overflow: hidden;
}

}

/*======================================1240PX=================================================*/
/*
@media screen and (max-width: 1240px){
  
  .my-bgTwo li a {
    font-size: 1.125rem;
  }
}
*/


/*======================================1125PX=================================================*/
/*
@media screen and (max-width: 1135px){
  
  .my-bgTwo li a {
    font-size: 1rem;
  }
}
*/
/*======================================1040PX=================================================*/

@media screen and (max-width: 990px){

  .preS1 h5 {
    font-size: 1.25rem;
  }

  .preS1 p {
    font-size: 1rem;
  }

  .preS1-left h5{
    text-align: right;
  }

  .preS1-left p{
    text-align: right;
  }
 


  
  .justify-content-end {

  }
/*
  .my-bgTwo li a {
    font-size: 1.25rem;
    text-align: center;
  }
*/
  .my-bgTwo li {
    text-align: center !important;
  }

}

/*
@media screen and (max-width: 768px){

  .header-right {
    position: relative;
    background-color: #FFF;
    background-size: 1000px;
    padding-right: 23%;
    text-align: center;
    float: left;
        
        
  }

  .header-right a {
    float: left;
    text-align: center;
    text-decoration: none;
    padding: 20px 5px;
    margin: 0px 2px;
    font-size: 18px;
    font-family: 'Purista_Bold', sans-serif;
  }


}

@media screen and (max-width: 320px){

  .header {
    
      /* Reverse the axis of the header, making it vertical. 
      flex-direction: column;
      
      /* Align items to the begining (the left) of the header. 
      align-items: flex-start;
  /*    
  }

  .header a{
    float: none;
    text-align: left;
  }


  .header-right {
    position: relative;
    background-color: #FFF;
    background-size: 1000px;
    padding-right: 2%;
    text-align: left;
    float: left;
        
        
  }

  .header-right a {
    float: left;
    text-align: left;
    text-decoration: none;
    padding: 20px 5px;
    margin: 0px 2px;
    font-size: 14px;
    font-family: 'Purista_Bold', sans-serif;
  }


}
*/

/*===============================================slider=======================================================================*/
